<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!recipeForm.valid"
          >
            Save
          </button>
          <button type="reset" class="btn btn-danger" (click)="onCancel()">
            Cancel
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="recipeName">Name</label>
            <input
              type="text"
              formControlName="recipeName"
              id="recipeName"
              class="form-control"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="recipeDescription">Description</label>
            <textarea
              formControlName="recipeDescription"
              id="recipeDescription"
              rows="3"
              class="form-control"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="recipeImage">Image Path</label>
            <input
              type="text"
              formControlName="recipeImage"
              id="recipeImage"
              class="form-control"
              #recipeImage
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img [src]="recipeImage.value" class="image-responsive" />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" formArrayName="ingredients">
          <div
            class="row"
            style="margin-top: 10px"
            *ngFor="let ingredientControl of controls; let i = index"
            [formGroupName]="i"
          >
            <div class="col-xs-2">
              <label for="name">Ingredient name</label>
              <input
                type="text"
                id="name"
                formControlName="name"
                class="form-control"
              />
            </div>
            <div class="col-xs-2">
              <label for="amount"> Ingredient amount</label>
              <input
                type="number"
                id="amount"
                formControlName="amount"
                class="form-control"
              />
            </div>
            <div class="col-xs-2">
              <button
                type="button"
                class="btn btn-danger"
                (click)="onDeleteIngredient(i)"
              >
                X
              </button>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-xs-12">
              <button
                type="button"
                class="btn btn-success"
                (click)="onAddIngredients()"
              >
                Add Ingredients
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
